* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.App {
  width: 90%;
  margin: 0 auto;
}

.tools {
  display: flex;
}

.tools > div {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  padding: 0.5rem;
  margin: 0.3rem;
}

.tools > div > img {
  width: 80%;
  margin-right: 5px;
}

.tools > div .abs {
  width: 15px;
  margin: 0;
  position: absolute;
  top: 3px;
  right: 5px;
}

.close {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  padding: 0.3rem;
}



.masonry {
  width: auto;
}

.box {
  width: 24.3333%;
  padding: 1%;
}

.box img {
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 0px 12px 6px #bbbbbb;;
}

.lightbox {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.lightbox.open {
  top: 0;
  opacity: 1;
}

.lightbox .img-container {
  padding: 3rem;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-container img {
  width: 100%;
  max-width: 500px;
}

.lightbox .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox .info .text {
  max-width: 400px;
  margin-bottom: 2rem;
}



.lightbox .close {
  position: absolute;
  right: 100px;
  top: 100px;
}

@media (max-width: 768px) {
  .box {
    width: 50%;
    padding: 1%;
  }
}

@media (max-width: 450px) {
  .box {
    width: 100%;
    padding: 1%;
  }
}
